@model IEnumerable<ViewForApi.Models.Order>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.LastName)
            </th>
            <th>
                Order Created
            </th>
            <th>
                Order Total
            </th>
            <th>
                Item
            </th>
            <th>
                Sub-Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Customers.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Customers.LastName)
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.CreatedDate)</p>
                </td>
                <td>
                    @foreach (var lines in item.OrderLines)
                    {


                    }
                </td>
                <td>
                    @foreach (var lines in item.OrderLines)
                    {
                        <p>@Html.DisplayFor(modelItem => lines.Product.Name)</p>
                    }
                </td>
                <td>
                    @foreach (var lines in item.OrderLines)
                    {
                        <p>£@Html.DisplayFor(modelItem => lines.Product.Price)</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
